.hero {
    background-image: url('../../assests/worldMap.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-size: auto; */
}

.heroText {

}